<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script">
    <script type="text/javascript" th:src="@{/assets/jquery/jquery-v3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/jquery/jquery.validate-v1.19.5.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/sweetalert/v2/sweetalert2.js}"></script>
    <script type="text/javascript" th:src="@{/assets/bootstrap/v5.2.2/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/popper-v1.16.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/moment-with-locales.min.js}"></script>

    <script th:src="@{/assets/js/app.js}"></script>
</th:block>